<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.im.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.im.entity.Notice">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="ts_pin" property="tsPin" />
        <result column="ts_create" property="tsCreate" />
        <result column="status" property="status" />
        <result column="type" property="type" />
        <result column="show_type" property="showType" />
        <result column="view_times" property="viewTimes" />
        <result column="del_flag" property="delFlag" />
        <result column="server_id" property="serverId" />
        <result column="user_id" property="userId" />
        <result column="is_urgent" property="isUrgent" />
        <result column="ts_read" property="tsRead" />
    </resultMap>
    <select id="findAll" resultMap="BaseResultMap">
        select id,title,content,status,del_flag,type,show_type,ts_pin,ts_create,ts_read,is_urgent,view_times from im_notice
        where user_id = #{q.userId} or (server_id = #{q.serverId} and user_id = 0)
        order by ts_pin desc,is_urgent is true desc,ts_create desc
    </select>
</mapper>
