<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.im.mapper.SayHelloMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.im.entity.SayHello">
        <id column="id" property="id"/>
        <result column="from_id" property="fromId"/>
        <result column="to_id" property="toId"/>
        <result column="msg" property="msg"/>
        <result column="resource" property="resource"/>
        <result column="is_valid" property="isValid"/>
        <result column="status" property="status"/>
        <result column="ts_create" property="tsCreate"/>
        <result column="ts_deal" property="tsDeal"/>
        <result column="ts_read" property="tsRead"/>
        <result column="type" property="type"/>
        <result column="server_id" property="serverId"/>
        <association property="fromUser" javaType="org.jeecg.modules.im.entity.User">
            <id column="fu_id" property="id"/>
            <result column="fu_account" property="account"/>
            <result column="fu_nickname" property="nickname"/>
            <result column="fu_small_avatar" property="smallAvatar"/>
            <result column="fu_is_online" property="isOnline"/>
            <result column="fu_ts_create" property="tsCreate"/>
            <association property="info"  javaType="org.jeecg.modules.im.entity.UserInfo">
                <result column="fu_province" property="province"/>
                <result column="fu_city" property="city"/>
                <result column="fu_gender" property="gender"/>
                <result column="fu_signature" property="signature"/>
            </association>
        </association>
        <association property="toUser" javaType="org.jeecg.modules.im.entity.User">
            <id column="tu_id" property="id"/>
            <result column="tu_account" property="account"/>
            <result column="tu_nickname" property="nickname"/>
            <result column="tu_small_avatar" property="smallAvatar"/>
            <result column="tu_is_online" property="isOnline"/>
            <result column="tu_ts_create" property="tsCreate"/>
            <association property="info"  javaType="org.jeecg.modules.im.entity.UserInfo">
                <result column="tu_province" property="province"/>
                <result column="tu_city" property="city"/>
                <result column="tu_gender" property="gender"/>
                <result column="tu_signature" property="signature"/>
            </association>
        </association>
        <collection property="replies" ofType="org.jeecg.modules.im.entity.SayHelloReply">
            <id column="r_id" property="id" />
            <result column="r_hello_id" property="helloId" />
            <result column="r_msg" property="msg" />
            <result column="r_sender_id" property="senderId" />
            <result column="r_ts_create" property="tsCreate" />
            <result column="r_ts_read" property="tsRead" />
        </collection>
    </resultMap>

    <select id="pagination" resultMap="BaseResultMap">
        select s.id, from_id, to_id, msg, s.resource,s.ts_create,is_valid,status,ts_deal,ts_read,
        t.id tu_id,t.account tu_account,t.nickname tu_nickname,t.username tu_username,t.small_avatar tu_small_avatar,t.is_online tu_is_online,t.ts_create tu_ts_create,
        ti.province tu_province,ti.city tu_city,ti.gender tu_gender,ti.signature tu_signature,
        f.id fu_id,f.account fu_account,f.nickname fu_nickname,f.username fu_username,f.small_avatar fu_small_avatar,f.is_online fu_is_online,f.ts_create fu_ts_create,
        fi.province fu_province,fi.city fu_city,fi.gender fu_gender,fi.signature fu_signature
        from im_say_hello s
        left join im_user f on f.id = s.from_id
        left join im_user_info fi on fi.user_id = f.id
        left join im_user t on t.id = s.to_id
        left join im_user_info ti on ti.user_id = t.id
        <where>
            1=1
            <if test="q.fromId !=null and q.fromId !=''">
                and s.from_id = #{q.fromId}
            </if>
            <if test="q.serverId !=null and q.serverId !=''">
                and s.server_id = #{q.serverId}
            </if>
            <if test="q.toId !=null and q.toId !=''">
                and s.to_id = #{q.toId}
            </if>
            <if test="q.resource !=null">
                and s.resource = #{q.resource}
            </if>
            <if test="q.status !=null">
                and s.status = #{q.status}
            </if>
            <if test="q.fromUserSearch !=null and q.fromUserSearch !=''">
                and(f.nickname like concat('%',#{q.fromUserSearch},'%') or f.account like concat('%',#{q.fromUserSearch},'%') or f.username like concat('%',#{q.fromUserSearch},'%') or f.mobile like concat('%',#{q.fromUserSearch},'%'))
            </if>
            <if test="q.toUserSearch !=null and q.toUserSearch !=''">
                and(t.nickname like concat('%',#{q.toUserSearch},'%') or t.account like concat('%',#{q.toUserSearch},'%') or t.username like concat('%',#{q.toUserSearch},'%') or t.mobile like concat('%',#{q.toUserSearch},'%'))
            </if>
            <if test="q.isValid !=null">
                and s.is_valid = #{q.isValid}
            </if>
            <if test="q.tsCreate!=null">
                and s.ts_create &lt;= UNIX_TIMESTAMP(#{q.tsCreate})*1000
            </if>
            <if test="q.ts_deal!=null">
                and s.ts_deal &lt;= UNIX_TIMESTAMP(#{q.ts_deal})*1000
            </if>
        </where>
        order by s.ts_create desc
    </select>

    <select id="findAllSend" resultMap="BaseResultMap">
        select sh.id,to_id,from_id,sh.msg,sh.resource,sh.ts_create,sh.ts_deal,sh.ts_read,sh.status,sh.is_valid,
           toUser.id tu_id,toUser.account tu_account,toUser.nickname tu_nickname,toUser.small_avatar tu_small_avatar,
           info.province tu_province,info.city tu_city,info.gender tu_gender,info.signature tu_signature,
           r.id r_id,r.sender_id r_sender_id,r.msg r_msg,r.hello_id r_hello_id,r.ts_create r_ts_create,r.ts_read r_ts_read
        from im_say_hello sh
        left join im_user toUser on toUser.id = sh.to_id
        left join im_user_info info on toUser.id = info.user_id
        left join im_say_hello_reply r on r.hello_id = sh.id
        where sh.from_id = #{userId} and sh.type = 0 order by sh.id desc,r.ts_create asc
    </select>

    <select id="findAllReceive" resultMap="BaseResultMap">
        select sh.id,to_id,from_id,sh.msg,sh.resource,sh.ts_create,sh.ts_deal,sh.ts_read,sh.status,sh.is_valid,
            fromUser.id fu_id,fromUser.account fu_account,fromUser.nickname fu_nickname,fromUser.small_avatar fu_small_avatar,
            info.province fu_province,info.city fu_city,info.gender fu_gender,info.signature fu_signature,
            r.id r_id,r.sender_id r_sender_id,r.msg r_msg,r.hello_id r_hello_id,r.ts_create r_ts_create,r.ts_read r_ts_read
        from im_say_hello sh
        left join im_user fromUser on fromUser.id = sh.from_id
        left join im_user_info info on fromUser.id = info.user_id
        left join im_say_hello_reply r on r.hello_id = sh.id
        where sh.to_id = #{userId}  and sh.type = 0 order by sh.id desc,r.ts_create asc
    </select>

    <select id="findLatest" resultMap="BaseResultMap">
        select * from im_say_hello where from_id = #{userId} and to_id = #{toUserId} order by id desc LIMIT 1
    </select>

</mapper>
