<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.im.mapper.SignInMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.im.entity.SignIn">
        <id column="id" property="id" />
       <result column="user_id" property="userId" />
       <result column="reward" property="reward" />
       <result column="days" property="days" />
       <result column="date" property="date" />
       <result column="reward" property="reward" />
       <result column="reward_continue" property="rewardContinue" />
       <result column="is_makeup" property="isMakeup" />
       <result column="makeup_cost" property="makeupCost" />
       <result column="server_id" property="serverId" />
       <result column="ts_create" property="tsCreate" />
        <association property="user" javaType="org.jeecg.modules.im.entity.User">
            <id column="u_id" property="id"/>
            <result column="u_nickname" property="nickname"/>
            <result column="u_account" property="account"/>
            <result column="u_small_avatar" property="smallAvatar"/>
            <result column="u_is_online" property="isOnline"/>
            <result column="u_ts_create" property="tsCreate"/>
            <association property="info" javaType="org.jeecg.modules.im.entity.UserInfo">
                <id column="ui_id" property="id" />
                <result column="ui_province" property="province" />
                <result column="ui_city" property="city" />
                <result column="ui_district" property="district" />
                <result column="ui_country" property="country" />
                <result column="ui_gender" property="gender" />
            </association>
        </association>
   </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, days,date,reward,reward_continue,is_makeup,makeup_cost, ts_create,server_id
    </sql>

    <select id="pagination" resultMap="BaseResultMap">
        SELECT
        s.id, s.user_id, s.reward,s.reward_continue,s.ts_create,s.days,s.date,is_makeup,makeup_cost,s.server_id,
        u.id u_id,u.nickname u_nickname,u.account u_account,u.small_avatar u_small_avatar,u.is_online u_is_online,u.ts_create u_ts_create,
        ui.id ui_id,ui.province ui_province,ui.city ui_city,ui.country ui_country,ui.district ui_district,ui.gender ui_gender
        from im_sign_in s
        left join im_user u on u.id = s.user_id
        left join im_user_info ui on ui.user_id = u.id
        <where>
            1=1
            <if test="q.userSearch!=null and q.userSearch!=''">
                and(u.nickname like concat('%',#{q.userSearch},'%') or u.account like concat('%',#{q.userSearch},'%') or u.username like concat('%',#{q.userSearch},'%') or u.mobile like concat('%',#{q.userSearch},'%'))
            </if>
            <if test="q.userId!=null and q.userId!=''">
                and user_id=#{q.userId}
            </if>
            <if test="q.date!=null">
                and s.date = #{q.date}
            </if>
            <if test="q.isMakeup!=null">
                and s.is_makeup = #{q.isMakeup}
            </if>
            <if test="q.serverId!=null">
                and s.server_id = #{q.serverId}
            </if>
            <if test="q.tsCreate!=null">
                and s.ts_create &lt;= UNIX_TIMESTAMP(#{q.tsCreate})*1000
            </if>
        </where>
        <if test="q.column !=null and q.column!='' and q.order!=null and q.order!=''">
            order by ${q.column} ${q.order}
        </if>
    </select>

    <select id="findByDateOfUser" resultMap="BaseResultMap">
        select * from im_sign_in where user_id = #{userId} and date = #{date}
    </select>

    <select id="findSignInsWithinDays" resultType="java.util.Date">
        SELECT date FROM im_sign_in WHERE user_id = #{userId} AND date >= CURDATE() - INTERVAL #{days} DAY
    </select>

    <select id="getTotalDays" resultType="java.lang.Integer">
        SELECT count(id) FROM im_sign_in WHERE user_id = #{userId}
    </select>
    <select id="getSigned" resultType="java.lang.Integer">
        SELECT count(id) FROM im_sign_in WHERE user_id = #{userId} and date>=#{beginDate} and date &lt;= #{endDate}
    </select>

</mapper>
