<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.im.mapper.TenantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.im.entity.Tenant">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="begin_date" property="beginDate" />
        <result column="end_date" property="endDate" />
        <result column="status" property="status" />
        <result column="trade" property="trade" />
        <result column="company_size" property="companySize" />
        <result column="company_address" property="companyAddress" />
        <result column="company_logo" property="companyLogo" />
        <result column="house_number" property="houseNumber" />
        <result column="work_place" property="workPlace" />
        <result column="secondary_domain" property="secondaryDomain" />
        <result column="login_bkgd_img" property="loginBkgdImg" />
        <result column="position" property="position" />
        <result column="department" property="department" />
        <result column="del_flag" property="delFlag" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="apply_status" property="applyStatus" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, create_time, create_by, begin_date, end_date, status, trade, company_size, company_address, company_logo, house_number, work_place, secondary_domain, login_bkgd_img, position, department, del_flag, update_by, update_time, apply_status
    </sql>

</mapper>
